footer.footer
  p
    strong='WordPress Curitiba '
    | - Sites, blogs e lojas virtuais com
    strong= ' WordPress. '
    | Converta seu HTML para
    strong= ' WordPress, '
    | seu arquivo PSD para
    strong= ' WordPress '
    | e seu arquivo Sketch para
    strong= ' WordPress.'
