meta(charset='UTF-8')
meta(http-equiv='content-language', content='pt-br')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
meta(http-equiv='X-UA-Compatible', content='ie=edge')

title=title + ' | Sites, blogs e lojas virtuais com WordPress'

meta(name='description', content=description)
meta(name='robots', content='index,follow')
meta(http-equiv='cache-control', content='cache')

meta(http-equiv='revisit-after', content='1 day')

link(rel='manifest', href='/manifest.json')

meta(property='og:title', content=title)
meta(property='og:type', content='website')
meta(property='og:url', content=homepage+'/')
meta(property='og:image', content=homepage+'/assets/images/share.jpg')
meta(property='og:description', content=description)
meta(property='og:site_name', content='Site Name')
//- meta(property='fb:admins', content='Facebook numeric ID')

meta(itemprop='name', content='WordPress Curitiba')
meta(itemprop='description', content=description)

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@onedevstudio')
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=description)
meta(name='twitter:creator', content='@oseunando')
meta(name='twitter:image:src', content=homepage+'/assets/images/share.jpg')
